#countlabel{ 
     display: block;
     text-align: center;
     font-size: 10em;
     font-family: Helvetica;
}
#btncontainer{
    text-align: center;
}
.buttons{
    padding: 10px 20px;
    font-size: 1.5em;
    color: rgb(245, 245, 248);
    background-color: rgb(110, 201, 253) ;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.25s;
}
.buttons:hover{
    background-color: rgb(12, 133, 247);
}